<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header id="navheader" class="text-white">
        <section></section>
            {{#if loggedIn}}
                <a href="/">Home</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/logout">Logout</a>
            {{else}}
                <a href="/">Home</a>
                <a href="/login">Login</a>
                <a href="/signup">Sign Up</a>
            {{/if}}
    </header>
    <main>
        {{{body}}}
    </main>

</body>
</html>
