<!--template for homepage view rendered when user visits site or clicks on link to log in -->
<h1> The Tech Blog </h1>
<!-- display existing blog posts, including post-list partial -->
{{#each post}}
    <section class="card">
        <h2 class="card-title">{{title}}</h2>
        <p id="content">{{content}}</p>
        <p>User: {{user}}</p>
        <a href="/post/{{id}}">View Post</a>
    </section>
{{/each}}
