<!-- template for login view rendered when user clicks on a link to log in -->
<!-- display login form with username field, password field and submit button -->
<section class="card text-center">
    <div class="card-body">
        <h3 class="card-title">Login</h3>
        <form id="login">
            <div class="card-text">
                <label for="username">Username:</label>
                <input type="text" placeholder="username" id="loginusername">
            </div>
            <div class="card-text">
                <label for="password">Password:</label>
                <input type="password" placeholder="password" id="loginpassword">
            </div>
            <button id="login">Login</button>
            <a href="/signup">Signup</a>
        </form>
    </div>
</section>
<!-- add login.js script tag when completed
<script src="/public/js/"></script> -->