<!-- template for signup view rendered when user click on link to sign up -->
<!-- display sign up form with username field, password field and submit button -->
<section class="card text-center">
    <div class="card-body">
        <h3 class="card-title">Signup</h3>
        <form id="login">
            <div class="card-text">
                <label for="username">Username:</label>
                <input type="text" placeholder="username" id="signupusername">
            </div>
            <div class="card-text">
                <label for="password">Password:</label>
                <input type="password" placeholder="password" id="signuppassword">
            </div>
            <button id="login">Signup</button>
            <a href="/login">login</a>
        </form>
    </div>
</section>