<section class="card text-center">
    <div class="card-body">
        <h3 class="card-title">Signup</h3>
        <form id="login">
            <div class="card-text">
                <label for="signupusername">Username:</label>
                <input type="text" placeholder="username" id="signupusername">
            </div>
            <div class="card-text">
                <label for="signuppassword">Password:</label>
                <input type="password" placeholder="password" id="signuppassword">
            </div>
            <button id="signup">Signup</button>
            <a href="/login">login</a>
        </form>
    </div>
</section>