<section class="card text-center">
    <div class="card-body">
        <h3 class="card-title">Signup</h3>
        <form id="signupform">
            <div class="card-text">
                <label for="signupUsername">Username:</label>
                <input type="text" placeholder="username" id="signupUsername">
            </div>
            <div class="card-text">
                <label for="signupPassword">Password:</label>
                <input type="password" placeholder="password" id="signupPassword">
            </div>
            <button id="signup">Signup</button>
            <a href="/login">login</a>
        </form>
    </div>
</section>

<script src="/js/signup.js"></script>